/* Make header and navigation sticky */

/* 
* {
    border: solid 1px red;
} */

header,
nav {
    position: -webkit-sticky;
    position: sticky;
    /* make header and nav sticky so links always visible depsite number of wall posts */
}

main {
    overflow: auto;
    /* add scroll when content exceeds view */
}

.wrapper {
    max-width: 100vw;
    /* take up all of viewport width */
    display: grid;
    grid-template-areas:
        "header nav nav"
        "sub-nav sub-nav sub-nav";
    /* sub nav is for wall actions */
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
}

.wall {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    /* fill page with 100px columns */
    grid-auto-rows: 100px;
    /* define each row as 100px which are then created as needed */
    grid-auto-flow: dense;
    /* reflow grid layout so all elements fit the best they can */
    grid-gap: 10px;
    /* add gap between grid columns and rows */
    margin: 10px 10px 10px 10px;
    /* add 10px margin to all sides of wall */
}

.nav-container {
    grid-area: sub-nav;
    width: 100%;
    justify-self: end;
    background-color: rgba(0, 0, 0, 0.05);
}

h3.left {
    justify-self: start;
    padding-left: 10px;
}

#wall-actions {
    cursor: pointer;
    padding: 20px;
    font-size: 18px;
}

#wall-actions>ul>li {
    /* target all ul and then li child elements */
    padding-left: 16px;
}

.action {
    display: none;
    /* make hidden by default */
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px 50px 30px 10px;
}

.post {
    overflow: hidden;
    /* hide any scrolls */
    display: grid;
    /* display grid again so variable sizes can be made */
    grid-template-columns: 1;
    grid-template-rows: 1;
    border: solid var(--main-colour-four) 3px;
    /* add solid 3px border */
    background-color: rgb(252, 252, 252);
    /* set background colour of element */
    color: var(--font-darkest);
    font-family: 'Cabin', sans-serif;
    padding: 5px;
    position:relative;
}

.advert {
    position: absolute;
    padding: 5px 5px 5px 5px;
    top: 5%;
    left: 0;
    width: 90%;
    color: white;
    background: rgba(0, 0, 0, 0.55);
}

button,
input,
textarea {
    margin-top: 20px;
    margin-left: 40px;
}

/* empty img src size set when populated */
#fileImagePreview {
    max-width: 300px;
    max-height: 300px;
}

/* map code adapted from (Bell, 2018) */
#mapInput {
    height: 300px;
    width: 650px;
    margin-left: 40px;
    margin-top: 20px;
}

/* variable element sizes idea adapted from (Bos, 2018) */
.post img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* different row (v) and column (h) span sizes set - assigned by code in WallPostsDAO.js */
.post.v2 {
    grid-row: span 2;
}

.post.v3 {
    grid-row: span 3;
}

.post.v4 {
    grid-row: span 4;
}

.post.h2 {
    grid-column: span 2;
}

.post.h3 {
    grid-column: span 3;
}

.post.h4 {
    grid-column: span 4;
}

.action {
    display: none;
    /* make hidden by default */
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px 50px 30px 10px;
}

.active {
    display: block;
    /* make visible - this class is toggled in WallPosts.js */
}

.Event {
    background-color: rgb(252, 252, 252);
    padding: 20px;
    border: 3px solid #888;
    border-radius: 7px;
    text-align: center;
    grid-column: span 2;
    grid-row: span 4;
}

.Event > * {
    color: #111;
}
}