#logoutBtn, #deactivateBtn, #deleteBtn {
    padding: 5px 15px 5px 15px;
    background-color: var(--accent-orange);
    border: 2px solid orangered;
    border-radius: 20px;
    /* add border radius to round edges */
    margin-top: 6px;
    margin-bottom: 25px;
}

#deactivateBtn {
    background-color: var(--accent-pink);
    border: 2px solid #f73368;
}

#deleteBtn {
    background-color: rgb(167, 4, 4);
    border: 2px solid rgb(102, 2, 2);
}