/* chat message page specific styles */

/* Create chat layout using css grid*/
main {
    max-width: 100%;
    max-height: 80%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 2fr 2fr 1fr; /* split columns 50% each */
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        ". identifier identifier ."
        ". message message ."
        ". message-text message-text .";
    margin-top: 30px;
    padding-bottom: 5%;
}

div > p {
    margin-left: 15px; /* add margin to p child of all divs as an inset */
}

.identifier {
    grid-area: identifier;
}

.message {
    grid-area:message;
    height: 480px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.08);
}


.msg {
    border-left: 4px solid rgba(245, 245, 245, 0.856);
    padding-left: 6px;
} 

.text {
    grid-area: message-text;
    background-color: rgba(0, 0, 0, 0.12);
}

.btn {
    width: auto;
    margin-bottom: 5px;
}