/* Page specific style overwrites for delete user */

table {
    margin-top: 5%; /* move table down from top */
    /* give table a fixed width for centering */
    width: 50%; 
    margin-left: auto;
    margin-right: auto;
    /* apply a solid 2px border to the table using css variable from set colours in global css */
    border: 2px var(--main-colour-four) solid;
}

th,
td {
    /* apply padding to the cell contents */
    padding: 15px;
    text-align: center;
}

h2 {
    text-align: center;
}