/* Global styles for all pages */

/* Import Ubuntu and Cabin fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Cabin|Ubuntu');

/* Create css variables for standard colour scheme throughout site */
:root {
    /* Main colour varaibles - used for backgrounds etc */
    --main-colour-one: #313d4c;
    --main-colour-two: #3e4b5b;
    --main-colour-three: #455466;
    --main-colour-four: #535f6d;
    --main-colour-five: #6e7a88;

    /* Font Colours - used for text and headers */
    --font-darkest: #2c2c2c;
    --font-dark: #707070;
    --font-mid: #b5b5b5;
    --font-light: #eeeeee;
    --font-lightest: #f5f5f5;

    /* Accent colours - used for buttons and highlighting */
    --accent-off-black: rgba(0, 0, 0, 0.7);
    --accent-blue: #30a7dc;
    --accent-pink: #f2517c;
    --accent-yellow: #e9cb50;
    --accent-orange: #d17f2f;
    --accent-green: #26c65c;
}

/* Take up 100% of screen height */
html,
body {
    min-height: 100%;
}

* {
    color: var(--font-light);
    /* make all text --font-light colour by default */
    /* border: 1px solid red; */
}

body {
    background: rgb(49, 61, 76);
    /* Fallback colour for browsers that don't support gradients */
    background: linear-gradient(145deg, #313d4c 24%, #3e4b5b 73%, #455466);
    /* gradient background for supported browsers */
}

/* Standard screen layout formatting */

.wrapper {
    max-width: 100vw;
    display: grid;
    grid-template-areas:
        "header header nav"
        "left-side content right-side"
        "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
}

header {
    grid-area: header;
    /* define header area from grid-template-areas */
}

nav {
    grid-area: nav;
    /* define nav area from grid-template-areas */

    /* display flex on nav and position at end so it is aligned to right of page */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main {
    grid-area: content;
    /* define main area as content from grid-template-areas */
}

.side-container {
    grid-area: right-side;
}

footer {
    grid-area: footer;
    /* define grid-area for footer from grid-template-areas */
}

/* Simple reflow for mobile view layout */

@media screen and (max-width: 480px) {
    .wrapper {
        max-width: 100vw;
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "content"
            "footer";
        grid-template-columns: 1fr;
        /* take full viewport width for column */
        grid-template-rows:
            auto
            /* header */
            minmax(50px, auto)
            /* nav */
            1fr
            /* content */
            auto;
        /* footer */
    }
}

/* Styling for containers */

.side-container {
    width: auto;
    /* background-color: rgba(0,0,0,0.2); */
}

/* Set font types for used elements with san-serif as fallback */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
}

nav,
p,
span,
a,
input,
button,
label,
table,
textarea,
select,
option {
    font-family: 'Cabin', sans-serif;
}

div.warning > p {
    font-family: 'Cabin', sans-serif;
    color: red;
}

div.success>p {
    font-family: 'Cabin', sans-serif;
    color: green;
}

/* Standardised form, input and button styling */

input,
textarea,
select,
option {
    background-color: var(--font-lightest);
    border: 0;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    /* use padding shorthand for input value */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
    /* add subtle shadow to inputs */
    color: var(--font-darkest);
    line-height: 1.5;
    /* add line height for text spacing */
    margin: 4px 0 4px 0;
}

input.btn {
    cursor: pointer;
}

input:focus {
    /* when input is selected (in focus) pseudoclass */
    outline: none;
    /* remove focus ring - not good for accessibility - could manage this better */
    transform: scale(1.01);
    /* subtle increase of input size for focused input */
}

textarea {
    resize: none;
    /* stop textarea being draggable resize */
    margin-top: 10px;
    margin-left: 10px;
}

/* Forms styling */

.form-container {
    display: grid;
    /* display grid on container */
    grid-template-columns: 2fr 1em 3fr;
    /* define columns */
    grid-gap: 5px 6px;
    /* add gap to columns */
    grid-auto-flow: dense;
    align-items: center;
}

form {
    /* position element relative to its starting position and calculate rough center position */
    position: relative;
    width: calc((100vw/2) + 10%);

}

label {
    text-align: right;
    grid-column: 1 / 2;
    /* define grid column area */
}

span {
    grid-column: 3 / -1;
    /* define grid column at final column */
}

input,
button {
    grid-column: 2 / 4;
    width: 20em;
}

select,
select>option {
    grid-column: 2 / 4;
    width: 20em;
}

input[type="checkbox"] {
    width: auto;
    grid-column: 2 / 3;
    justify-self: start;
    margin: 0;
}

/* Standard button styling */

button {
    padding: 5px 15px 5px 15px;
    background-color: var(--main-colour-four);
    border: 2px solid var(--main-colour-five);
    border-radius: 20px;
    /* add border radius to round edges */
    margin-top: 6px;
}

button:hover {
    cursor: pointer;
}

.btnGreen {
    background-color: var(--accent-green);
    border-color: var(--accent-green);
}

/* Header and Navigation Styling */

header,
nav,
footer {
    background-color: rgba(0, 0, 0, 0.1);
    /* add alpha simple overlay to adjust background color */
}

ul {
    list-style: none;
    /* remove bullet points */
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    /* remove underlines */
    padding: 6px;
    font-size: 18px;
}

a:hover {
    border-bottom: solid 4px var(--main-colour-five);
    /* add bottom border to links on hover */
    padding-bottom: 0;
    /* remove padding from bottom so there is less space between border and text */
}

header {
    padding-left: 5%;
}

h1>a {
    font-size: inherit;
    /* inherit font size from h1 if link is a child */

}

h1>a:hover {
    font-size: inherit;
    border-bottom: 0;
}


nav {
    padding-right: 15%;
}

/* Set up for informational tooltips */
.info-icon {
    font-size: 22px;
}

.info-box {
    font-size: 14px;
    color: var(--font-lightest);
    line-height: 1.5;
    padding-left: 2px;
}

.info-text {
    display: none;
    /* not visible by default */
    width: auto;
    background-color: var(--main-colour-five);
    color: var(--font-lightest);
    text-align: center;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    z-index: 1;
    /* bring to top of view */
}

.info-icon:hover {
    cursor: pointer;
}

.info-icon:hover .info-box .info-text {
    display: inline-block;
    /* make visible when hovered over */
}

/* TABLE STYLES BEGIN */

/* Collapse border to make row background seamless */
table {
    border-collapse: collapse;
}


tr:nth-child(2n+0) {
    /* Starting at index 0, change the background colour of every 2nd row in table*/
    background: #535f6d;
}

td {
    padding: 4px;
}

/* TABLE STYLES END */

/* Modal Box Begins */

.modal-container {
    display: none;
    /* Default hidden */
    position: fixed;
    z-index: 1;
    /* Bring to front */
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-box {
    display: flex;
    background-color: var(--main-colour-four);
    margin: auto;
    padding: 20px;
    border: 3px solid #888;
    border-radius: 10px;
}

.close {
    position: relative;
    left: 98%;
    font-size: 22px;
}

.close:focus,
.close:hover {
    color: var(--font-light);
    text-decoration: none;
    cursor: pointer;
}

/* Modal Box Ends */

